{% extends 'base.html.twig' %}

{% block body %}

    <div class="d-flex justify-content-center text-center" >
        {{ form_start(form) }}
        <h2>Zmień hasło:</h2>
        <table class="table table-responsive table-borderless">
            <tr>
                <td>Nowe hasło:</td><td>{{ form_row(form.password) }}</td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" class="btn  btn-success">Zapisz hasło!</button></td>
            </tr>
        </table>
        {{ form_end(form) }}
    </div>

{% endblock %}